/* BASIC BUTTON STYLE */
.btn {
  /* width: 200px; */
  height: 38px;
  padding: 8px;
  background-color: #4caf50;
  color: #fff;
  border: 1px solid #3e8e41;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 10px;
}

.btn:hover {
  background-color: #45a049;
}

/* BUTTON COLOURING - LIKE, DISLIKE, WARNING, DISABLED */

.warning-btn {
  background-color: #e67452 !important;
  border: 1px solid #8e3e3e;
}

.warning-btn:hover {
  background-color: #ea572a !important;
}

.warn-btn {
  background-color: #a26c5c !important;
  border: 1px solid #562a2a;
}

.warn-btn:hover {
  background-color: #925745 !important;
}

.btn:disabled {
  background-color: #d3d3d3;
  color: #7a7a7a;
  border: 1px solid #b8b8b8;
  cursor: not-allowed;
}

/* IFRAME CSS */

.project-iframe-btn, .about-iframe-btn {
  color: #333;
  background-color: #d9d9ee;
  border: 1px solid #aaa;
  flex: auto 1 1;
}

.about-iframe-btn:hover, .project-iframe-btn:hover {
  background-color: #fff;
  color: #111;
  border: 1px solid #888;
}

.space-right { /* Used to space iframe buttons */
  margin-right: 10px;
}

/* CUSTOM FILE INPUT (probably not relevant to this project) */

.custom-file-input {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 9px;
  margin-bottom: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.custom-file-input input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
}

.custom-file-input label {
  margin-bottom: 0;
}