.hamburger-blocks-container {
  position: fixed;
  top: calc(var(--navbar-height) - 10px);
  left: 50%;
  transform: translateX(-50%);
  width: 490px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* background-color: rgba(255, 255, 255, 0.9); */
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px 10px 0 10px;
}

.burger-btn {
  flex: 1 1 65px;
  max-width: 65px;
  text-align: center;
  margin: 0 4px 10px;
  border-radius: 15px;
  padding: 5px 3px;
  font-weight: 500;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 1s ease;
  border: 3px var(--sea-green-600) solid;
  cursor: pointer;
  height: 65px;
}

.burger-link {
  transition: background-color 0.5s ease, color 0.5s ease;
  background-color: var(--nav-link-background-retro);
  color: var(--nav-link-text-retro);
}

.burger-link:hover {
  background-color: var(--cream-100);
  background-color: #fff;
  color: var(--navText-darker);
}

.avatar-hovered-burger-link {
  transition: background-color 0.5s ease, border 0.5s ease, color 0.5s ease;
  background-color: var(--grey-blue-1300);
  border: 1px var(--leaf-1100) solid;
  color: var(--lime-500);
}

.external-burger-btn {
  background-color: var(--leaf-200);
  color: #fff;
}

.linkedin-burger-btn {
  background-color: var(--sea-green-400);
  color: #fff;
}

.linkedin-burger-btn:hover,
.external-burger-btn:hover {
  border: 3px var(--sea-green-800-dull) solid;
}

.burger-section-link {
  transition: background-color 0.5s ease;
  background-color: var(--nav-btn-dark-back-retro);
  color: var(--nav-btn-dark-text-retro);
  text-decoration: none;
}

.burger-section-link:hover {
  background-color: var(--navText-darker);
  color: var(--lime-300);
}
