:root {
  --nav-side-padding: 20px;
  --fake-side-margin: 0.1px;
  --nav-container-width: calc(85vw + (2 * var(--nav-side-padding)));
  --navbar-height: 85px;
  --app-max-width: 1100px;
}

/* UNDER NAVBAR BORDERS inc FADE BORDER */

#nav-border-bar-1 {
  height: 1px;
  background-color: var(--fawn-400);
}

.nav-border-bar-2 {
  height: 4px;
  transition: background-color 4s ease;
  background-color: var(--fawn-200);
}

.avatar-hovered-nav-border-bar-2 {
  transition: background-color 4s ease;
  background-color: var(--pink-500);
}

.nav-border-bar-3 {
  height: 25px;
  background-color: rgba(255, 255, 255, 0);
  background: linear-gradient(
    to bottom,
    rgba(250, 243, 221, 1) 0%,
    rgba(250, 243, 221, 0) 100%
  );
  background-size: 100% 100%;
}

.avatar-hovered-nav-border-bar-3 {
  background: linear-gradient(
    to bottom,
    var(--turquoise-200) 0%,
    var(--turquoise-200-zero) 100%
  );
}

/* MAIN NAVBAR STYLING */

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-size: cover;
  z-index: 1000;
}

.navbar {
  background-color: var(--nav-background);
  transition: background-color 4s ease;
}

.avatar-hovered-navbar {
  transition: background-color 4s ease;
  background-color: var(--grey-blue-1300);
}

.nav-container {
  /* outer container for all NAVBAR elements */
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: calc(var(--app-max-width) + (2 * var(--nav-side-padding)) + 200px);
  width: var(
    --nav-container-width
  ); /* USE SAME SETTING for .nav-containter, .gallery-container, .focus-container & .footer-container */
  margin: 0 auto;
  padding: 0 var(--nav-side-padding); /* standard 20px side padding for all outer containers */
  overflow: hidden;
  height: var(--navbar-height);
}

/* NAV LEFT - LOGO AND TITLE */

.nav-left {
  display: flex;
  align-items: center;
  height: inherit;
}

.logo-image {
  max-width: 60px;
  margin-right: 15px;
  opacity: 0.7;
  transition: opacity 4s ease;
  cursor: none;
}

.avatar-hovered-avatar {
  opacity: 0.1;
}

.nav-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 400px;
  text-align: center;
  height: 62px;
  border-radius: 15px;
  padding: 5px 15px;
  transition: background-color 3s ease, border 8s ease, color 3s ease;
  background-color: var(--nav-section-link-background);
  color: var(--nav-section-link-text);
  border: 1px var(--sea-green-200) solid;
  cursor: pointer;
  margin-right: 5px;
  max-width: 100px;
}

.abouts-title {
  max-width: 195px;
}

.projects-title {
  max-width: 225px;
}

.nav-title:hover {
  transition: background-color 1s ease, border 8s ease, color 1s ease;
  background-color: var(--navText-darker);
  color: var(--lime-300);
  border: 1px var(--sea-green-400) solid;
}

.avatar-hovered-nav-title {
  transition: background-color 3s ease, border 8s ease, color 3s ease;
  background-color: var(--grey-blue-1300);
  border: 1px var(--grey-blue-1300) solid;
  color: var(--lime-300);
}

nav h1 {
  font-size: 2.2rem;
  font-weight: normal;
}

/* NAV RIGHT - NAVLIST containing LINK BUTTONS */

.navlist {
  display: flex;
  justify-content: flex-end;
  /* align-items: center; */
  max-width: 600px;
}

.navlist p {
  font-size: 1.1rem;
  font-weight: bold;
}

/* NAV LINKS inc INTERNAL & EXTERNAL LINKS */

.nav-btn {
  flex: 0 0 20px;
  text-align: center;
  margin: 0 4px; /* Any change made here should also be made to margin in .github-link-btn  */
  border-radius: 15px;
  padding: 5px 3px;
  font-weight: 500;
  font-size: 0.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 70px;
  transition: border 1s ease;
  border: 1px var(--sea-green-200) solid;
  cursor: pointer;
}

.nav-link {
  transition: background-color 0.5s ease, color 0.5s ease;
  background-color: var(--nav-link-background);
  color: var(--nav-link-text);
}

.nav-link:hover {
  background-color: var(--cream-100);
  background-color: #fff;
  color: var(--navText-darker);
}

.avatar-hovered-nav-link {
  transition: background-color 0.5s ease, border 0.5s ease, color 0.5s ease;
  background-color: var(--grey-blue-1300);
  border: 1px var(--leaf-1100) solid;
  color: var(--lime-500);
}

.nav-section-link {
  transition: background-color 0.5s ease;
  background-color: var(--nav-section-link-background);
  color: var(--nav-section-link-text);
  text-decoration: none;
}

.nav-section-link:hover {
  background-color: var(--navText-darker);
  color: var(--lime-300);
}

.avatar-hovered-nav-section-link {
  transition: background-color 0.5s ease, border 0.5s ease, color 0.5s ease;
  background-color: var(--grey-blue-1300);
  border: 1px var(--leaf-1100) solid;
  color: var(--lime-500);
}

.github-link-btn {
  transition: background-color 0.5s ease;
  background-color: var(--nav-link-background);
  cursor: url('./looking-glass.png'), auto;
}

.github-link-btn:hover {
  background-color: var(--lime-300);
  background-color: #fff;
  border: 1px var(--grey-blue-400) solid;
  /* border: 1px var(--green-600) solid; */
}

.github-link-btn:hover .github-logo {
  transition: opacity 0.5s ease;
  opacity: 1;
}

.github-logo {
  max-height: 50px;
  transition: opacity 2s ease;
  opacity: 0.6;
}

.linkedin-link-btn {
  transition: background-color 1s ease;
  background-color: var(--turquoise-400);
  background-color: var(--sea-green-600);
  cursor: url('./looking-glass.png'), auto;
}

.linkedin-link-btn:hover {
  background-color: var(--linkedin-blue);
  border: 1px var(--navText-darker) solid;
}

.linkedin-logo {
  max-height: 40px;
  transition: opacity 8s ease;
  opacity: 1;
}

.avatar-hovered-github-link {
  transition: background-color 4s ease, border 8s ease;
  background-color: var(--grey-blue-1300);
  border: 1px var(--leaf-1100) solid;
}

.avatar-hovered-linkedin-logo {
  transition: opacity 3s ease;
  opacity: 0.1;
}

.settings-btn {
  cursor: url('./smallaxe.png'), auto;
}

/* HAMBURGER STYLING */

.hamburger-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  margin-right: 5px;
  /* display: none; */
}

.hamburger {
  cursor: pointer;
}

.burgerBar {
  display: block;
  width: 35px;
  height: 4px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--sea-green-800-dull);
  border: 1px solid var(--sea-green-800-dull);
  z-index: 1;
}

.hamburger:hover .pattie {
  transform: rotate(90deg);
  background-color: var(--green-600);
}

.hamburger:hover .buntop {
  transform: translateY(9px) rotate(-30deg);
  background-color: var(--green-600);
}

.hamburger:hover .bunbase {
  transform: translateY(-9px) rotate(30deg);
  background-color: var(--green-600);
}

.hamburger:hover .burgerBar {
  background-color: var(--green-600);
}

.hamburger .pattie.burger-open {
  opacity: 0;
}

.hamburger .buntop.burger-open {
  transform: translateY(9px) rotate(-45deg);
}

.hamburger .bunbase.burger-open {
  transform: translateY(-9px) rotate(45deg);
}

.hamburger:hover .burgerBar.burger-open {
  background-color: var(--blue-400);
  border: 1px solid var(--sea-green-1000-dull);
}