/* projects.css */

:root {
  --project-side-margin: 20px;
  --both-project-side-margin: calc(2 * var(--project-side-margin));
  --fake-side-margin: 0.1px;
  --project-box-width: calc(85vw + var(--both-project-side-margin));
  --num-of-cols: 4;
  --project-panel-width: calc(
    (100% / var(--num-of-cols)) - var(--both-project-side-margin)
  );
  --project-outline-radius: 15px;
}

.project-box, .about-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(85vw + var(--both-project-side-margin));
  margin: var(--navbar-height) auto 0;
  padding-top: var(--project-side-margin);
}

.project-panel, .about-panel {
  position: relative;
  list-style: none;
  flex: 0 0 var(--project-panel-width);
  height: 250px;
  margin: var(--project-side-margin);
  text-align: center;
}

.about-overlay, .project-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px 20px;
  border-radius: var(--project-outline-radius);
  background-color: rgba(252, 255, 250, 0.9);
  border: 1px #8a8a8b solid;
  color: #373738;
  font-size: 1.4rem;
  font-weight: 400;
  transition: opacity 0.6s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.project-overlay-dark, .about-overlay-dark {
  background-color: rgba(0,0,0,0.9);
  color: #fff;
  border: 1px #d7d7d7 solid;
  box-shadow: 0 0 10px 2px rgba(255,255,255,0.5);
}

.project-label, .about-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: rgba(76, 76, 76, 0.9);
  color: #fff;
  border-radius: var(--project-outline-radius) var(--project-outline-radius) 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.project-label-dark, .about-label-dark {
  background-color: rgba(0,0,0,0.9);
  border-top: 1px #d7d7d7 solid;
}

.hover-focus {
  opacity: 1;
}

.hover-fade {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.project-image, .about-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--project-outline-radius);
  border: 1px #818181 solid;
}

/* Media query for smaller screens */
@media (max-width: 1600px) {
  :root {
    --num-of-cols: 3;
  }
}

@media (max-width: 1300px) {
  :root {
    --num-of-cols: 3;
  }
}

@media (max-width: 1000px) {
  :root {
    --num-of-cols: 2;
  }
}

@media (max-width: 700px) {
  :root {
    --num-of-cols: 1;
  }
}
