@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* OLD OVERLAY COLOURS */
  --preOverlayLight: rgba(255, 255, 255, 0);
  --preOverlayDarkText: rgba(43, 43, 44, 0);
  --overlay-light: rgba(252, 255, 250, 0.8);
  --overlayDarkText: rgba(43, 43, 44, 1);
  --labelLightText: rgb(255, 255, 255);
  --labelDark: rgba(43, 43, 44, 0.85);
  --panelBorderMid: rgba(124, 124, 125, 0.45);
  --hamburgerMenu: rgba(230, 230, 230, 0.9);
  --tech: rgba(255, 255, 255, 0.4);

  /* colour palette from https://coolors.co/palette/ffa69e-faf3dd-b8f2e6-aed9e0-5e6472 */
  /* colour palette from https://coolors.co/palette/faf3dd-c8d5b9-8fc0a9-68b0ab-696d7d */

  /* COLOUR DECLARATIONS */

  --pink-300: #f0b7b1;
  --pink-500: #ffa69e;

  --blue-200: #d0f1f6;
  --blue-400: #aed9e0;

  --cream100: #fdfbf5;
  --cream200: #fbfde3;
  --cream300: #faf3dd;

  --lime-300: #b6fc4c;
  --lime-500: #84b836;

  --leaf-100: #e7f1dd;
  --leaf-200: #d0dcc4;
  --leaf-300: #c8d5b9;
  --leaf-700: #6b7e62;
  --leaf-900: #4f6048;

  --sea-green-200: #aecebf;
  --sea-green-400: #8fc0a9;
  --sea-green-600: #7aa490;

  --turquoise-200: #b8f2e6;
  --turquoise-200-zero: rgba(184, 242, 230, 0);
  --turquoise-400: #68b0ab;

  --grey-blue-400: #696d7d;
  --grey-blue-700: #646465;
  --grey-blue-800: #626364;
  --grey-blue-1100: #484849;
  --grey-blue-1300: #404041;

  --fawn-200: #c2b6a3;
  --fawn-400: #ac9a7a;

  /* ELEMENT DECLARATIONS */

  --primary-background: var(--cream300);
  --primary-background-bar: rgb(250, 243, 221, 1);
  --primary-background-bar-zero: rgb(250, 243, 221, 0);

  --nav-background: var(--leaf-300);
  --nav-title-background: var(--leaf-200);
  --nav-section-link-background: var(--leaf-700);
  --nav-section-link-text: var(--leaf-100);

  --navText: var(--grey-blue-700);
  --navText-darker: var(--grey-blue-1300);
}

/* .test1 {
  background-color: var(--grey-blue-1300);
  height: 50px;
  width: 200px;
}
.test2 {
  background-color: var(--grey-blue-1300b);
  height: 50px;
  width: 200px;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  color: #606060;
  background-color: var(--primary-background);
}

.app {
  transition: background-color 3s ease;
  background-color: var(--primary-background);
}

.avatar-hovered-app {
  transition: background-color 3s ease;
  background-color: var(--turquoise-400);
}
