@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* OLD OVERLAY COLOURS */
  --preOverlayLight: rgba(255, 255, 255, 0);
  --preOverlayDarkText: rgba(43, 43, 44, 0);
  --overlay-light: rgba(252, 255, 250, 0.8);
  --overlayDarkText: rgba(43, 43, 44, 1);
  --labelLightText: rgb(255, 255, 255);
  --labelDark: rgba(43, 43, 44, 0.85);
  --panelBorderMid: rgba(124, 124, 125, 0.45);
  --hamburgerMenu: rgba(230, 230, 230, 0.9);
  --tech: rgba(255, 255, 255, 0.4);

  /* colour palette from https://coolors.co/palette/ffa69e-faf3dd-b8f2e6-aed9e0-5e6472 */
  /* colour palette from https://coolors.co/palette/faf3dd-c8d5b9-8fc0a9-68b0ab-696d7d */

  /* COLOUR DECLARATIONS */

  --pink-300: #f0b7b1;
  --pink-500: #ffa69e;

  --blue-50: #eff7fb;
  --blue-100: #e4fafd;
  --blue-200: #d0f1f6;
  --blue-400: #aed9e0;
  --blue-500: #a2ccd2;

  --whitish-100: #f0f5f5;
  --whitish-200: #e9efef;
  --whitish-300: #e0e8e8;
  --whitish-400: #d7dede;
  --whitish-500: #cad2d2;

  --cream-100: #fdfbf5;
  --cream-200: #fbfde3;
  --cream-300: #faf3dd;

  --lime-300: #b6fc4c;
  --lime-500: #84b836;

  --green-600: #53a335;

  --leaf-100: #e7f1dd;
  --leaf-200: #d0dcc4;
  --leaf-300: #c8d5b9;
  --leaf-700: #85a775;
  --leaf-900: #6b7e62;
  --leaf-1100: #4f6048;

  --sea-green-200: #aecebf;
  --sea-green-400: #8fc0a9;
  --sea-green-600: #7aa490;
  --sea-green-800-dull: #688477;
  --sea-green-1000-dull: #4f5d57;

  --turquoise-200: #b8f2e6;
  --turquoise-200-zero: rgba(184, 242, 230, 0);
  --turquoise-400: #68b0ab;

  --grey-blue-200: #9399b0;
  --grey-blue-400: #696d7d;
  --grey-blue-700: #646465;
  --grey-blue-800: #626364;
  --grey-blue-900: #545657;
  --grey-blue-1100: #484849;
  --grey-blue-1300: #404041;
  --grey-blue-1500: #323233;
  --grey-blue-1700: #252527;

  --fawn-200: #c2b6a3;
  --fawn-400: #ac9a7a;

  --linkedin-blue: #0077b5;
  --linkedin-dark: #064364;

  /* ELEMENT DECLARATIONS */

  --primary-background-bar: rgb(250, 243, 221, 1);
  --primary-background-bar-zero: rgb(250, 243, 221, 0);

  /* RETRO THEME */

  --nav-back-retro: var(--leaf-300);
  --primary-back-retro: var(--cream-300);

  --nav-light-btn-back-retro: var(--leaf-100);
  --nav-light-btn-text-retro: var(--grey-blue-700);
  --nav-light-btn-border-retro: var(--sea-green-200);
  --nav-light-btn-back-hover-retro: #fff;
  --nav-light-btn-text-hover-retro: var(--grey-blue-1300);
  --nav-light-btn-border-hover-retro: var(--sea-green-200);

  --nav-bottom-bar-1-retro: var(--fawn-400);
  --nav-bottom-bar-2-retro: var(--fawn-200);
  --nav-bottom-bar-3-retro-pt1: rgba(250, 243, 221, 1);
  --nav-bottom-bar-3-retro-pt2: rgba(250, 243, 221, 0);

  --nav-dark-btn-back-retro: var(--leaf-900);
  --nav-dark-btn-text-retro: var(--leaf-100);
  --nav-dark-btn-border-retro: var(--grey-blue-700);
  --nav-dark-btn-back-hover-retro: var(grey-blue-1300);
  --nav-dark-btn-text-hover-retro: var(--lime-300);
  --nav-dark-btn-border-hover-retro: var(var(--sea-green-200));

  --github-back-retro: var(--nav-light-btn-back-retro);
  --github-border-retro: var(--nav-light-btn-border-retro);
  --github-back-hover-retro: #fff;
  --github-border-hover-retro: var(--grey-blue-400);
  --linkedin-back-retro: var(--sea-green-600);
  --linkedin-border-retro: var(--sea-green-800-dull);
  --linkedin-back-hover-retro: var(--linkedin-blue);
  --linkedin-border-hover-retro: var(--grey-blue-1300);

  /* LIGHT THEME */
  --nav-back-light: #fff;
  --primary-back-light: #fff;

  --nav-light-btn-back-light: var(--whitish-100);
  --nav-light-btn-text-light: var(--grey-blue-700);
  --nav-light-btn-border-light: var(--sea-green-200);
  --nav-light-btn-back-hover-light: #fff;
  --nav-light-btn-text-hover-light: var(--grey-blue-1300);
  --nav-light-btn-border-hover-light: var(--sea-green-200);

  --nav-bottom-bar-1-light: var(--blue-400);
  --nav-bottom-bar-2-light: var(--blue-100);
  --nav-bottom-bar-3-light-pt1: rgb(228, 243, 245);
  --nav-bottom-bar-3-light-pt2: rgba(243, 252, 253, 0);

  --nav-dark-btn-back-light: var(--blue-100);
  --nav-dark-btn-text-light: var(--grey-blue-700);
  --nav-dark-btn-border-light: var(--sea-green-200);
  --nav-dark-btn-back-hover-light: #fff;
  --nav-dark-btn-text-hover-light: var(--grey-blue-1300);
  --nav-dark-btn-border-hover-light: var(var(--sea-green-400));

  --github-back-light: var(--whitish-100);
  --github-border-light: var(--sea-green-200);
  --github-back-hover-light: #fff;
  --github-border-hover-light: var(--grey-blue-400);
  --linkedin-back-light: var(--blue-500);
  --linkedin-border-light: var(--sea-green-600);
  --linkedin-back-hover-light: var(--linkedin-blue);
  --linkedin-border-hover-light: var(--grey-blue-1300);

  /* DARK THEME */
  --nav-back-dark: var(--grey-blue-1700);
  --primary-back-dark: var(--grey-blue-1500);
  
    --nav-bottom-bar-1-dark: var(--sea-green-400);
    --nav-bottom-bar-2-dark: var(--leaf-900);
    --nav-bottom-bar-3-dark-pt1: rgba(50, 50, 51, 1);
    --nav-bottom-bar-3-dark-pt2: rgba(50, 50, 51, 0);

  --nav-light-btn-back-dark: var(--grey-blue-900);
  --nav-light-btn-text-dark: var(--leaf-200);
  --nav-light-btn-border-dark: var(--sea-green-200);
  --nav-light-btn-back-hover-dark: var(--whitish-300);
  --nav-light-btn-text-hover-dark: var(--grey-blue-1500);
  --nav-light-btn-border-hover-dark: var(--green-600);

  /* --nav-dark-btn-back-dark: var(--grey-blue-1300);
  --nav-dark-btn-text-dark: var(--leaf-200); */
  --nav-dark-btn-back-dark: #000;
  --nav-dark-btn-text-dark: var(--leaf-200);
  --nav-dark-btn-border-dark: var(--sea-green-200);
  /* --nav-dark-btn-back-hover-dark: #fff;
  --nav-dark-btn-text-hover-dark: var(--grey-blue-1700); */
  --nav-dark-btn-back-hover-dark: var(--grey-blue-1100);
  --nav-dark-btn-text-hover-dark: var(--whitish-200);
  --nav-dark-btn-border-hover-dark: var(--lime-300);

  --github-back-dark: var(--whitish-100);
  --github-border-dark: var(--sea-green-200);
  --github-back-hover-dark: #fff;
  --github-border-hover-dark: var(--grey-blue-400);
  --linkedin-back-dark: var(--linkedin-dark);
  --linkedin-border-dark: var(--sea-green-600);
  --linkedin-back-hover-dark: var(--linkedin-blue);
  --linkedin-border-hover-dark: var(--grey-blue-1300);



  --navText: var(--grey-blue-700);
  --navText-darker: var(--grey-blue-1300);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
}

li {
  cursor: pointer;
}

.app {
  color: #606060;
  transition: background-color 3s ease;
  min-height: calc(100vh - var(--navbar-height));
}

.app-retro {
  background-color: var(--primary-back-retro);
}
.app-light {
  background-color: var(--primary-back-light);
}
.app-dark {
  background-color: var(--primary-back-dark);
  color: var(--nav-light-btn-text-dark);
}
.app-simple {
  background-color: var(--primary-back-simple);
}

.avatar-hovered-app {
  transition: background-color 1s ease;
  background-color: var(--turquoise-400);
}

.all-pages {
  transition: padding 1s ease;
}

.burger-open-spacer {
  transition: padding 0.5s ease;
}

@media (max-width: 1300px) {
  .nav-container {
    width: 95vw;
  }
  .project-box,
  .about-box {
    width: 94vw;
  }
}

@media (max-width: 1200px) {
  .nav-title h1 {
    font-size: 1.8rem;
  }
  .abouts-title {
    max-width: 165px;
  }
  .projects-title {
    max-width: 195px;
  }
}

@media (max-width: 1170px) {
  .nav-title h1 {
    font-size: 1.55rem;
  }
  .nav-title {
    height: 57px;
    max-width: 125px;
    line-height: 0.9;
  }
  .github-logo {
    max-height: 45px;
  }
  .linkedin-logo {
    max-height: 37px;
  }
  .nav-btn {
    font-size: 0.8rem;
    min-width: 65px;
    margin: 0 3px;
  }
  .logo-image {
    max-width: 55px;
  }
  .nav-container {
    height: calc(var(--navbar-height) - 10px);
  }
  .project-box,
  .about-box {
    margin: calc(var(--navbar-height) - 15px) auto 0;
  }
}

@media (max-width: 1035px) {
  .nav-title h1 {
    font-size: 1.5rem;
  }
  .github-logo {
    max-height: 40px;
  }
  .linkedin-logo {
    max-height: 35px;
  }
  .nav-btn {
    font-size: 0.7rem;
    min-width: 60px;
    margin: 0 2px;
  }
  .project-panel,
  .about-panel {
    margin: 15px;
  }
  .nav-title {
    height: 54px;
    max-width: 125px;
    line-height: 0.85;
  }
  .logo-image {
    max-width: 52px;
  }
  .nav-container {
    height: calc(var(--navbar-height) - 12px);
  }
  .project-box,
  .about-box {
    margin: calc(var(--navbar-height) - 17px) auto 0;
  }
}

@media (max-width: 950px) {
  .nav-title {
    height: 52px;
    max-width: 225px;
    line-height: 0.85;
  }
  .logo-image {
    max-width: 50px;
  }
  .nav-container {
    height: calc(var(--navbar-height) - 15px);
  }
  .navlist {
    justify-content: flex-end;
  }
  .burger-open-spacer {
    padding-top: 70px;
  }
}

/* HAMBURGER SPLITS INTO TWO ROWS */
/* EXTERNAL LINKS DROP INTO HAMBURGER MENU */
@media (max-width: 650px) {
  .nav-section-link {
    height: 52px;
  }
  .burger-open-spacer {
    padding-top: 145px;
  }
}

@media (max-width: 500px) {
  .hamburger-blocks-container {
    width: 400px;
  }
}

@media (max-width: 430px) {
  .hamburger-blocks-container {
    width: 300px;
  }
  .burger-open-spacer {
    padding-top: 220px;
  }
}

/* SECTION LINK BUTTON GOES INTO BURGER MENU */
@media (max-width: 390px) {
  /* .hamburger-blocks-container {
    width: 300px;
  }
  .burger-open-spacer {
    padding-top: 220px;
  } */
  .hamburger-blocks-container {
    width: 350px;
  }
}

@media (max-width: 330px) {
  .hamburger-blocks-container {
    width: 300px;
  }
  .burger-open-spacer {
    padding-top: 290px;
  }
}

@media (max-width: 260px) {
  .hamburger-blocks-container {
    width: 200px;
  }
  .burger-open-spacer {
    padding-top: 365px;
  }
}

/* SINGLE PROJECT/ABOUT PAGE RESPONSIVENESS */

@media (max-width: 1300px) {
  #single-subject-page {
    max-width: 1000px;
  }
  /* LEFT SIDE */
  #single-subject-headers-and-description-1 {
    flex: 1 0 314px;
  }
  #single-subject-title {
    font-size: 1.9rem;
  }
  #single-subject-subheading {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  #single-project-tech-badges {
    margin-bottom: 10px;
    font-weight: 400;
  }
  .project-text {
    font-size: 1.2rem;
  }
  /* RIGHT SIDE */
  #iframe-container {
    flex: 1 1 666px;
  }
  #feature-iframe {
    height: 600px;
  }
  /* IFRAME BUTTONS & ICONS */
  .panel-buttons button {
    font-size: 1rem;
  }
  .btn {
    height: 35px;
  }
  #responsiveness-btn {
    display: none;
  }
  .github-btn-logo {
    height: 16px;
  }
  .new-tab-btn-logo {
    height: 14px;
  }
  .arrow-icon {
    font-size: 16px;
  }
  .return-icon {
    font-size: 16px;
  }
}

@media (max-width: 1050px) {
  #single-subject-page {
    max-width: 850px;
  }
  /* LEFT SIDE */
  #single-subject-headers-and-description-1 {
    flex: 1 0 280px;
  }
  #single-subject-title {
    font-size: 1.7rem;
  }
  #single-subject-subheading {
    margin-bottom: 20px;
    font-size: 1.2rem;
  }
  #single-project-tech-badges {
    margin-bottom: 10px;
    font-weight: 400;
  }
  .project-text {
    font-size: 1.18rem;
    margin-bottom: 12px;
  }
  .emphasise {
    font-size: 1.2rem;
  }
  /* RIGHT SIDE */
  #iframe-container {
    flex: 1 1 630px;
  }
  #feature-iframe {
    height: 600px;
  }
  /* IFRAME BUTTONS & ICONS */
  .panel-buttons button {
    font-size: 0.9rem;
  }
  .btn {
    height: 32px;
  }
  #responsiveness-btn {
    display: none;
  }
  .github-btn-logo {
    height: 14px;
  }
  .new-tab-btn-logo {
    height: 12px;
  }
  .arrow-icon {
    font-size: 14px;
  }
  .return-icon {
    font-size: 14px;
  }
}

@media (max-width: 950px) {
  /* IFRAME BUTTONS & ICONS */
  .panel-buttons button {
    font-size: 0.8rem;
  }
  .btn {
    height: 30px;
    padding: 5px;
  }
  .github-btn-logo {
    height: 13px;
  }
  .new-tab-btn-logo {
    height: 11px;
  }
  .arrow-icon {
    font-size: 13px;
  }
  .return-icon {
    font-size: 13px;
  }
}

/* PAGE BECOMES A SINGLE COLUMN */
@media (max-width: 870px) {
  #single-subject-upper-section {
    flex-direction: column;
  }
  #single-subject-page {
    max-width: 850px;
  }
  /* LEFT SIDE */
  #single-subject-headers-and-description-1 {
    flex: 1 0 280px;
  }
  #single-subject-title {
    font-size: 1.7rem;
  }
  #single-subject-subheading {
    margin-bottom: 20px;
    font-size: 1.2rem;
  }
  #single-project-tech-badges {
    display: none;
  }
  .project-text {
    font-size: 1.18rem;
    margin-bottom: 12px;
  }
  .emphasise {
    font-size: 1.2rem;
  }
  /* RIGHT SIDE */
  #iframe-container {
    flex: 1 1 630px;
  }
  #feature-iframe {
    height: 600px;
  }
  /* IFRAME BUTTONS & ICONS */
  .panel-buttons button {
    font-size: 0.8rem;
  }
  .btn {
    height: 30px;
    padding: 5px;
  }
  .github-btn-logo {
    height: 13px;
  }
  .new-tab-btn-logo {
    height: 11px;
  }
  .arrow-icon {
    font-size: 13px;
  }
  .return-icon {
    font-size: 13px;
  }
}
